#carousel__text__align {
    height: 80%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 40px;
}

.box__align {
    display: flex;
    justify-content: start;
    align-items: start;
}

.images__width {
    width: 100%;
    height: 100%;
}

footer {
    height: 60vh;
}

.resize__icon {
    height: 45px;
    width: 45px;
    padding: 4px;
    line-height: 4px;
}