#bg__color {
    background: rgba(29, 29, 29, 0.7);
}

#carousel__text__align {

    /* padding-bottom: 20vh; */
    height: 80%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 40px;

}